/* @import stylep-button; */

@import "../index.css";

body {
  background-color: #e8ebef;
  color: #6b6b77;
  font-family: "Helvetica Neue";
  overflow-x: hidden;
}

section {
  background-color: #fff;
  margin-bottom: 1em;
  padding: 1em 1em 0.125em;
}

h1 {
  font-weight: 100;
  letter-spacing: 1px;
}

h2 { font-weight: 200; }
h3 { font-weight: 300; }

.button--inline { @mixin button-inline; }
.button--inline-fancy { @mixin button-inline 13px 18px, 0 20px 10px 0; }
.button--block { @mixin button-block; }
.button--block-fancy { @mixin button-block 13px 18px, 0 0 10px 0; }
.button--solid { @mixin button-solid; }
.button--solid-fancy { @mixin button-solid #00558b, #004876, #fff, 0 1px 3px rgba(0, 0, 0, .4), 5px, .1s, .4; }
.button--hollow { @mixin button-hollow; } 
.button--hollow-fancy { @mixin button-hollow #00558b, #fff, 0 1px 3px rgba(0, 0, 0, .4), 5px, .1s, .4; }
.button-group--inline { @mixin button-group-inline; }
.button-group--block { @mixin button-group-block; }
.button-group--pill { @mixin button-group-pill; }

.button-circle--solid { @mixin button-solid #333, #555, #fff, none, 50%; }
.button-circle--hollow { @mixin button-hollow #333, #fff, none, 50%; }

