/* @import stylep-button; */

@import "../index.css";

body {
  background-color: #e8ebef;
  color: #6b6b77;
  font-family: "Helvetica Neue";
  overflow-x: hidden;
}

section {
  background-color: #fff;
  margin-bottom: 1em;
  padding: 1em 1em 0.125em;
}

h1 {
  font-weight: 100;
  letter-spacing: 1px;
}

h2 { font-weight: 200; }
h3 { font-weight: 300; }

.button--inline { @extend %button-inline; }

.button--block { @extend %button-block; }

.button--solid { @extend %button-solid; }

.button--hollow { @extend %button-hollow; } 

.button-circle--solid { @extend %button-circle-solid; }

.button-circle--hollow { @extend %button-circle-hollow; }

.button-group--inline { @extend %button-group-inline; }

.button-group--block { @extend %button-group-block; }

.button-group--pill { @extend %button-group-pill; }

