/* stylep-button */

%button-pattern {
  appearance: none;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  padding: 13px 24px;
  position: relative;
  line-height: 1;
  margin: 0 3% 3% 0;
  min-width: 8%;
  outline: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
}

%button-wide-pattern {
  display: block;
  width: 100%;
}

@define-mixin button-color
  $color-passive: #999, 
  $color-selected: #666, 
  $color-text: #fff,
  $color-shadow: rgba(0, 0, 0, .5) {

  background-color: $color-passive;
  box-shadow: 0 0 0 $color-shadow;
  color: $color-text;

  &:hover,
  &:focus {
    background-color: $color-selected;
    box-shadow: 0 0 6px $color-shadow;
  }
}

