%button-inline {
  appearance: none;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  padding: 13px 24px;
  position: relative;
  line-height: 1;
  margin: 0 3% 3% 0;
  min-width: 44px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
}

%button-block {
  @extend %button-inline;
  display: block;
  width: 100%;
}

@define-mixin button-solid
  $color-passive: #999, 
  $color-selected: #666, 
  $color-text: #fff,
  $radius-size: 4px,
  $shadow-passive: 0 0 0 rgba(50, 50, 50, .5),
  $shadow-selected: 0 0 6px rgba(50, 50, 50, .5) {

  background-color: $color-passive;
  border-radius: $radius-size;
  box-shadow: $shadow-passive;
  color: $color-text;
  @mixin-content;

  &:hover,
  &:focus {
    background-color: $color-selected;
    box-shadow: $shadow-selected;
  }
}

@define-mixin button-hollow
  $color-passive: #999, 
  $color-selected: #666, 
  $color-background: transparent,
  $radius-size: 4px,
  $border-width: 1px,
  $shadow-passive: none,
  $shadow-selected: none {

  background-color: $color-background;
  border-color: $color-passive;
  border-radius: $radius-size;
  border-style: solid;
  border-width: 1px;
  box-shadow: $shadow-passive;
  color: $color-passive;
  @mixin-content;

  &:hover,
  &:focus {
    border-color: $color-selected;
    box-shadow: $shadow-selected;
    color: $color-selected;
  }
}

